body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-image: url('../img/Untitled-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
}



header {
    background: transparent;
    justify-content: center;
    align-items: center;
}

nav {
    margin-left: 17% !important;
}

.dropdown-menu {
    background-color: #222222;

    position: fixed;

    top: 100%;

    left: 0;

    z-index: 1050;

    background-color: #333;

    min-width: 15px;

    padding: 10px 0;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.dropdown-item:hover {
    background-color: #555;

}


.dropdown-item {
    color: white;

}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu.show {
    display: block;

}

.sticky-top {
    height: 51vh;
}


.container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1220px;
    margin: 0 auto;

}

.project-cover {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin: 11px;
    flex: 1 1 30%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover-image {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cover__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: filter 0.5s;
}

.project-cover:hover .cover__img {
    filter: blur(5px);
}

.details-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
    width: 700px;
}

.project-cover:hover .details-wrap {
    opacity: 1;
    transform: translateY(0);
}

.title {
    font-size: 1.5rem;
}

.date {
    font-size: 1.2rem;
}



@media (max-width: 768px) {
    body {
        background-size: contain;
        background-position: right;
        height: auto;
        background-size: cover;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300%;
        background-color: rgba(0, 0, 0, 0.404);
        z-index: -1;
    }

    .col-md-4 {
        height: 250px;
        overflow: hidden;
    }

    .panel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .project-cover {
        width: 100%;
        margin-right: 110px;
        display: block;
        box-sizing: border-box;
    }

    .cover-image img {
        width: 100%;
        height: 220px;
    }


    .title {
        font-size: 1.2rem;
    }

    .date {
        font-size: 1rem;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }



    .dropdown-menu {
        position: absolute !important;
        transform: none !important;
        max-height: 30vh;
        /* 60% of screen height */
        overflow-y: auto;
    }

    .dropleft .dropdown-menu {
        left: auto !important;
        right: 100%;
        top: 0;
    }

}




@media (max-width: 480px) {
    .project-cover {
        flex: 1 1 100%;
        height: 300px;
    }

    .cover-image {
        height: 50%;
    }

    .title {
        font-size: 1rem;
    }

    .date {
        font-size: 0.8rem;
    }
}



#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
}

#backToTopBtn:hover {
    background-color: #000000;
}

.rott {
    font-size: small;
    color: rgba(255, 255, 255, 0.062);
    position: fixed;
    margin-top: 170px;
    margin-left: 250px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: rgba(255, 255, 255, 0.13);
    text-align: left;
    padding: 10px;
}


@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 100px;
    }

    .nav-item {
        margin-left: 10px;
        padding-left: 10px;
        width: auto;
        text-align: center;
    }



    .navbar-toggler {
        display: block;
    }

    .rott {
        font-size: small;
        color: rgba(255, 255, 255, 0.068);
        position: fixed;
        margin-top: 70px;
        margin-left: 275px;
    }


}